<!-- location header -->
<p class="lead location-header">{{title}}</p>

<!-- location information div -->
<div class="location-info">
  <p>
    {{address}}<br>
    {{phone_number}}<br>
    <a href="{{website}}" target="_blank">{{website}}</a>
  </p>
</div>

<!-- reviews -->

<div class="review-box">
{{#each reviews}}
  <p>
{{#if rating}}
  <img src="/assets/up.svg" alt="" height="25px" width="25px">
  {{else}}
  <img src="/assets/down.svg" alt="" height="25px" width="25px">
{{/if}}

    {{review}}
  </p>
{{/each}}
</div>

<form
class="hbs"
action="/groups/{{group_id}}/reviews"
method="POST">

<input type="hidden" name="location_id" value="{{id}}">
<input type="hidden" name="authenticity_token" value="">
  <label><input type="radio" name="rating" value="1"required>Try it!&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <label><input type="radio" name="rating" value="-1"required>Skip it</label>
  <textarea rows="2" required name="review" class="review_text" placeholder="write a review"></textarea>
  <input type="submit" value="Save" class="btn-info btn-xs">
</form>




